<html>
    <head>
    
    
    
    
    </head>


    
    
    
    <body>
    <textarea rows="20" cols="100" name="text">
        
        <% @contact.each do |line| %>
            <%= line %>
        <% end %>
    
    </textarea>
    
    
    
    
    
    </body>












</html>